# Dataset
data/*
!data/.gitkeep

# Generated outputs
outputs/*
!outputs/.gitkeep

# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual / Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
